body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > div {
  display: flex;
  flex-wrap: wrap;
}

main > div > div {
  margin-left: 20px;
}

.imgcontainer {
  position: relative;
  height: 200px;
  width: 200px;
}

