name: Build

on: push

jobs:
  build:
    if: github.repository_owner == 'bitpatty'
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '24.11.1'
      - run: npm install
      - run: npm run build
